<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/ColabProIconMenor.png" type="image/x-icon">
    <link rel="stylesheet" href="../styles/home.css">
    <title>ColabPro</title>
</head>
<body>

    <header>
        <h1>Bem Vindo ColabPro</h1>
    </header>

    <div class="nav">
        <input type="search" placeholder="Pesquisar">
        <a href="">Perfil</a> <!-- Quando a pessoa apertar o perfil ela vai abrir um menu com as opções de entrar e cadastrar-se -->
        <a href="home.html">Sair</a> <!-- Quando a pessoa sair ele deve ser desconectada e deve containuar na pagina home -->
    </div>
    <main>

        <!-- Aqui passara nosso feed -->

    </main>

</body>

<footer>
    <p>&copy; 2023 Minha Página Home</p>
</footer>

</html>